* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
/* ::-webkit-scrollbar {
  display: none;
} */
.header {
  display: flex;
}

.logo {
  display: flex;
  width: 35px;
  height: 35px;
  margin: 13px;
  cursor: pointer;
}
.name {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  overflow-x: auto;
  white-space: nowrap;
  font-weight: 400;
  max-width: 980px;
  padding-top: 5px;
  /* margin-right:-100px; */
}
.name:hover {
  text-decoration: underline;
}
.modal {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  padding-top: 2rem;
  padding-left: 2.2rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  border: #0001 1px solid;
  border-radius: 10px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  width: 300px;
  height: 200px;
  background-color: #fff;
}
.show-background {
  background-color: lightgray; /* Color to change the background when modal is open */
}
.modal__header {
  display: flex;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2.25rem;
  cursor: pointer;
  border: none;
  background: none;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.modal__form label {
  font-size: 1.2rem;
  padding-bottom: 3.25rem;
  padding-left: 0.3rem;
}
.modal__form input {
  width: 28rem;
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  outline: none;
}
.modal__form input:focus {
  border: 2px solid rgb(26, 115, 232);
}
.modal__form button {
  justify-self: flex-end;
  margin-top: 2rem;
}

.btn-part {
  display: flex;
  align-self: flex-end;
  gap: 1.5rem;
}
.btn--save,
.btn--cancel {
  font-size: 1.3rem;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn--save {
  background-color: rgb(26, 115, 232);
  color: white;
}
.btn--cancel {
  color: rgb(26, 115, 232);
  border: #d2d6d8 1px solid;
  background-color: white;
  font-weight: 500;
}
.btn--save:hover,
.btn--cancel:hover {
  opacity: 0.8;
}
.canvas {
  border-top: #d2d6d8 2px solid;
  border-right: #d2d6d8 2px solid;
  border-left: #d2d6d8 2px solid;
  border-bottom: #e1e5e8 1px solid;
  background-color: white;
  transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease;
}
#canvas {
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: all 0.5s;
  background-color: #fff;
}

@media (min-width: 500px) {
  .name {
    margin-right: -30px;
  }
}
.slider-page {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
}
@media (min-width: 500px) {
  .slider-page {
    margin-left: 20px;
  }
}

.prev {
  width: 20px;
  height: 20px;
  padding-top: 10px;
  opacity: 0.4;
  margin-right: 10px;
  margin-left: 15px;
}
.next {
  width: 20px;
  height: 20px;
  padding-top: 10px;
  margin-left: 50px;
}
.rect {
  display: flex;
  width: 45px;
  height: 30px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
  flex-wrap: nowrap;
}
.contain {
  width: 20px;
  height: 10px;
  margin-top: 16px;
  margin-left: -61px;
}
.numbers {
  display: inline;
  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial;
}
.google-meet {
  display: flex;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  padding: 3px 13px 6px 6px;
  width: 32px;
  height: 25px;
  align-self: center;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.1s;
  margin-right: 10px;
}
.google-meet:hover {
  border: none;
  background-color: rgb(234, 235, 238);
}
.google-meet:active {
  background-color: rgb(199, 218, 243);
}
.meet-logo {
  width: 23px;
  height: 18px;
  flex-shrink: 1;
  padding-right: 2px;
  padding-left: 4px;
  padding-top: 5px;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgb(73, 118, 232);
  margin-top: 13px;
  margin-left: 2px;
}
.points-more-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #3a3939 transparent 1px;
  align-self: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 1;
}
.points-more-actions:hover {
  background-color: rgb(236, 237, 239);
}
.points {
  font-weight: 400;
  opacity: 0.54;
  font-size: 23px;
}
.Lock {
  width: 13px;
  height: 13px;
  padding-right: 7px;
}

.share-text {
  letter-spacing: 0.25px;
  font-weight: 500;
  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial;
  font-size: 14px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
}
.share {
  display: flex;
  align-self: center;
  height: 13px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid transparent !important;
  align-items: center;
  background-color: rgb(26, 115, 232);
  color: #fff;
  margin: 9px 13px 10px 12px;
  padding: 10px 14px 10px 12px;
  cursor: pointer;
  margin-right: 20px;
}
.share:hover {
  opacity: 0.9;
}
.profile {
  display: flex;
  border: #716f6f solid 1px;
  align-self: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 10px;
  flex-shrink: 0;
  cursor: pointer;
}
.profile:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.after-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(235, 235, 235) solid 0.666667px;
  border-top: rgb(229, 229, 229) solid 0.666667px;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: 44px;
  padding-left: 25px;
  padding-right: 24px;
  gap: 15px;
  font-size: 14px;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.content {
  display: flex;
  /* margin:8px; */
}
.undo {
  width: 18px;
  height: 20px;
  opacity: 0.4;
  margin-left: 10px;
  margin-right: 12px;
}
.redo {
  width: 18px;
  height: 20px;
  opacity: 0.4;
  margin-right: 5px;
}
.divider {
  border-left: 1px solid rgb(209, 203, 203);
  height: 27px;
  opacity: 0.5;
}
.zoom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.zoom-in-logo {
  width: 16px;
  height: 16px;
  padding: 5px;
  margin-right: 10px;
}
.zoom-in-logo:hover {
  cursor: pointer;
  background-color: rgb(234, 235, 238);
}
.zoom-in-arrow {
  width: 9px;
  height: 5px;
  padding: 10px 4px 10px 4px;
}
.zoom-in-arrow:hover {
  cursor: pointer;
  background-color: rgb(234, 235, 238);
}
.background {
  display: flex;
  width: 110px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3 ease;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
}
.background:hover {
  background-color: rgb(234, 235, 238);
}
.clear-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 85px;
  height: 30px;
  transition: background-color 0.3s ease, transform 0.3 ease;
  opacity: 0.8;
}
.clear-frame:hover {
  background-color: rgb(234, 235, 238);
}

/* Container */
.container {
  display: flex;
  background-color: #f1f3f4;
  height: 82vh;
}
.canvas-utilities-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(202, 195, 195);
  border-radius: 30px;
  max-width: 48px;
  max-height: 420px;
  margin: 25px 16px 5px 14px;
  /* z-index: 1; */
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  justify-content: center;
}
li {
  display: flex;
  list-style-type: none;
  cursor: pointer;
  flex-shrink: 1;
  border-radius: 50%;
  padding: 2px;
  width: 35px;
  height: 30px;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
li:hover {
  background-color: rgb(241, 244, 248);
}

.pen {
  width: 20px;
  height: 20px;
  opacity: 0.9;
}
.eraser {
  width: 30px;
  height: 30px;
}
.select {
  width: 15px;
  height: 18px;
}
.note {
  width: 25px;
  height: 25px;
}
.image {
  width: 21px;
  height: 24px;
}
.circle {
  width: 20px;
  height: 20px;
  padding-left: 6px;
}
.text {
  width: 20px;
}
.laser {
  width: 17px;
  height: 20px;
}
.color-palette {
  display: flex;
  gap: 5px;
  margin-left: 270px;
  margin-bottom: -115px;
  margin-top: -60px;
  padding: 4px;
  overflow: visible;
  width: 200px;
  height: 150px;
  border: 1px solid rgb(173, 171, 171);
  background-color: white;
  z-index: 0;
  flex-wrap: wrap;
}
.pen-styles {
  display: flex;
  width: 100%;
  height: 50px;
  /* background-color: aqua; */
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.style-btn {
  padding: 4px;
  width: 27px;
  height: 27px;
  opacity: 0.8;
}
.style-btn:hover {
  cursor: pointer;
  background-color: #d2d6d8;
  border-radius: 50%;
  padding: 8px;
  transition: 0.4s background-color;
}
.pen-highlighter {
  width: 27px;
  height: 30px;
}
.pen-pen {
  height: 20px;
  width: 20px;
}
.pen-brush {
  height: 20px;
  width: 20px;
}
.pen-colors {
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  width: 140px;
  margin-left: 7px;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}
.color-btn {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  transition: box-shadow 0.3s ease;
  flex-wrap: wrap;
}
.color-btn:hover {
  cursor: pointer;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.red {
  background-color: rgb(217, 69, 60);
}
.green {
  background-color: rgb(105, 158, 62);
}
.blue {
  background-color: rgb(25, 172, 192);
}
.black {
  background-color: rgb(60, 64, 67);
}
.white {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(224, 222, 222);
}
.yellow {
  background-color: rgb(243, 179, 42);
}

@media screen and (width<=600px) {
  .canvas {
    margin-top: 90px;
    margin-left: -60px;
    width: 530px;
    height: 300px;
    overflow-y: hidden;
    overflow-x: visible;
  }
}
@media screen and (width>600px) {
  .canvas {
    margin-top: 60px;
    margin-left: -20px;
    margin-right: 10px;
    width: 750px;
    height: 350px;
    overflow-y: hidden;
    overflow-x: visible;
  }
}
@media screen and (width>700px) {
  .canvas {
    margin-top: 40px;
    margin-left: -50px;
    margin-right: 10px;
    width: 950px;
    height: 400px;
    overflow-y: hidden;
    overflow-x: visible;
  }
}
@media screen and (width>800px) {
  .canvas {
    margin-top: 15px;
    margin-left: -50px;
    width: 800px;
    height: 450px;
  }
}
@media screen and (width>900px) {
  .canvas {
    margin-top: 15px;
    margin-left: -10px;
    margin-right: 20px;
    width: 800px;
    height: 450px;
  }
}
@media screen and (width>1000px) {
  .canvas {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 20px;
    width: 800px;
    height: 450px;
  }
}
@media screen and (width>1100px) {
  .canvas {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 20px;
    width: 800px;
    height: 450px;
  }
}
@media screen and (width>1100px) {
  .canvas {
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 20px;
    width: 800px;
    height: 450px;
  }
}
@media screen and (width>1200px) {
  .canvas {
    margin-top: 15px;
    margin-left: 200px;
    /* margin-right: 20px; */
    width: 800px;
    height: 450px;
  }
}
